[bumpversion]
current_version = 1.0.8
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:part:release]
optional_value = release
first_value = 0

[bumpversion:part:pre-release]
optional_value = a
first_value = 1
