__pycache__
*.sai2
*.sai
*.bat
*.exe
*.zip
*.spec
dist/
build/
project/
test/
src/batframework.egg-info
new/
build_version.sh
notes.txt
gamejam/
/game
/testing
/HalloweenGamejam
test_gamejam_extract/
